

/* ==========================================================================
Author's custom styles
========================================================================== */

.e-mail:before {
  content: attr(data-website) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

.no-bottom-margin {
  margin-bottom: 0em;
}

.top-margin {
  margin-top: 1.5em;
}
